PORT=8090

# ROLLOVER_CRON: 
# - move past next_billing_date to the next cycle
# - turn ended free trials into active. 
# - must run before REMINDER_CRON.
# - @every 1m for test
ROLLOVER_CRON=0 0 * * *

# REMINDER_CRON: 
# - publish reminder emails for subscriptions
# - @every 1m for test
REMINDER_CRON=0 9 * * *

# CLEANUP_CRON:
# - delete revoked or expired refresh tokens in auth-service
# - @every 1m for test
CLEANUP_CRON=0 0 * * *

PUBLIC_URL=http://localhost:8000

SUBSCRIPTION_SERVICE_ADDR=localhost:50051
USER_SERVICE_ADDR=localhost:50052
AUTH_SERVICE_ADDR=localhost:50053
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
